.reduxForm {
  max-width: 35rem;
  padding: 1.5rem;
  margin-right: 0.75rem;
  border: 1px solid lightgrey;
  border-radius: 0.25rem;

  .colorBox {
    width: 4.5rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;

    &.orchid {
      background-color: mediumorchid;
    }
    &.violetred {
      background-color: palevioletred;
    }
    &.coral {
      background-color: lightcoral;
    }
    &.orange {
      background-color: orange;
    }
  }
}

.btn-primary {
  background-color: #009292;
  border-color: teal;
  &:hover {
    background-color: teal;
    border-color: teal;
  }
  &:focus {
    background-color: teal;
    border-color: teal;
  }
  &:disabled {
    background-color: dimgray;
    border-color: dimgray;
    pointer-events: unset;
    cursor: not-allowed;
  }
}
.form-check-input:checked {
  background-color: teal;
}