@use '../../variables.scss' as *;

.homeContainer {
  .welcomeBox {
    border: 3px outset var(--color-primary);
    border-radius: 0.25rem;
  }
  .timerContainer{
    margin: 1rem 0.25rem;
    padding: 0.75rem 0.5rem 0;
    width: 10rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
  }
  .image {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
  .react-logo {
    background: url(../../assets/react-logo.png) center no-repeat;
    background-size: contain;
  }
  .react-router-logo {
    background: url(../../assets/react-router.png) center no-repeat;
    background-size: contain;
  }
  .create-logo {
    background: url(../../assets/create-react-app.svg) center no-repeat;
    background-size: contain;
  }
  .ts-logo {
    background: url(../../assets/typescript.png) center no-repeat;
    background-size: contain;
  }
  .sass-logo {
    background: url(../../assets/sass.svg) center no-repeat;
    background-size: contain;
  }
  .bootstrap-logo {
    background: url(../../assets/bootstrap-logo.svg) center no-repeat;
    background-size: contain;
  }
  .bootstrap-react-logo {
    background: url(../../assets/bootstrap-react.svg) center no-repeat;
    background-size: contain;
  }
  .redux-logo {
    background: url(../../assets/redux.svg) center no-repeat;
    background-size: contain;
  }
}
.dark {
  .list-group-item {
    background-color: gainsboro;
  }
}