@use '../../variables.scss' as *;

.nav-pills .nav-link.active {
  background-color: var(--color-primary);
}
.nav-link {
  color: var(--color-primary);
  &:hover, &:active {
    color: var(--color-dark);
  }
}