.homeContainer {
  .image {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
  }
  .react-logo {
    background: url(../assets/react-logo.png) center no-repeat;
    background-size: contain;
  }
  .react-router-logo {
    background: url(../assets/react-router.png) center no-repeat;
    background-size: contain;
  }
  .create-logo {
    background: url(../assets/create-react-app.svg) center no-repeat;
    background-size: contain;
  }
  .ts-logo {
    background: url(../assets/typescript.png) center no-repeat;
    background-size: contain;
  }
  .sass-logo {
    background: url(../assets/sass.svg) center no-repeat;
    background-size: contain;
  }
  .bootstrap-logo {
    background: url(../assets/bootstrap-logo.svg) center no-repeat;
    background-size: contain;
  }
  .bootstrap-react-logo {
    background: url(../assets/bootstrap-react.svg) center no-repeat;
    background-size: contain;
  }
  .redux-logo {
    background: url(../assets/redux.svg) center no-repeat;
    background-size: contain;
  }
}