:root {
  --color-primary: mediumorchid;
  --color-dark: darkorchid;
}
.orchid {
  --color-primary: mediumorchid;
  --color-dark: darkorchid;
}
.coral {
  --color-primary: lightcoral;
  --color-dark: coral;
}
.violetred {
  --color-primary: palevioletred;
  --color-dark: mediumvioletred;
}
.orange {
  --color-primary: orange;
  --color-dark: darkorange;
}